body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans", "Noto Sans CJK KR", "NanumGothic",
    "Malgun Gothic", "맑은 고딕", 돋움, dotum, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //   overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $black;
}

html,
body {
  height: 100%;
}

button {
  @include unstyle-button();
  cursor: pointer;
}

img {
  vertical-align: middle;
}

input {
  font-family: inherit;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $gray;
}
