@import "~utils";
.line-info {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  color: $gray-dark;

  > .title-category {
    color: $gray-darkest;
    margin-bottom: 0.4rem;
    font-weight: 700;
  }
}

.line-action-container {
  padding-bottom: 1.6rem;
  display: flex;

  .action-box {
    margin-right: 3.2rem;
    color: #8795a1;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }

    > span {
      padding-left: 0.8rem;
    }
  }
}

 
span.highlighted {
  background-color: $gray-lighter;
  padding: 0.4rem 0;
  border-radius: 4px;
}

.translation-content {
  .line {
    color: $gray-darker;
    padding-top: 0.4rem;
  }
}